# Do not store hidden files and directories, including .idea project
.*

# Do not store anything starting with _
_*

# Do not store .class files
*.class

# Store .git files
!.git*

/*

!/scripts

!/javadoc

!/java-solutions

/java-solutions/*

!/java-solutions/info

!/lib

/java-solutions/info/*

!/java-solutions/info/kgeorgiy

/java-solutions/info/kgeorgiy/*

!/java-solutions/info/kgeorgiy/ja

/java-solutions/info/kgeorgiy/ja/*

!/java-solutions/info/kgeorgiy/ja/barsukov

/java-solutions/info/kgeorgiy/ja/barsukov/implementor/*
!/java-solutions/info/kgeorgiy/ja/barsukov/implementor/Implementor.java
!/java-solutions/info/kgeorgiy/ja/barsukov/implementor/Implementor.jar

/java-solutions/info/kgeorgiy/ja/barsukov/concurrent/*
!/java-solutions/info/kgeorgiy/ja/barsukov/concurrent/IterativeParallelism.java
!/java-solutions/info/kgeorgiy/ja/barsukov/concurrent/ParallelMapperImpl.java.java

/java-solutions/info/kgeorgiy/ja/barsukov/crawler/*
!/java-solutions/info/kgeorgiy/ja/barsukov/crawler/WebCrawler.java

/java-solutions/info/kgeorgiy/ja/barsukov/hello/*
!/java-solutions/info/kgeorgiy/ja/barsukov/hello/HelloUDPClient.java
!/java-solutions/info/kgeorgiy/ja/barsukov/hello/HelloUDPServer.java
!/java-solutions/info/kgeorgiy/ja/barsukov/hello/HelloUDPUtil.java
!/java-solutions/info/kgeorgiy/ja/barsukov/hello/HelloUDPNonblockingClient.java
!/java-solutions/info/kgeorgiy/ja/barsukov/hello/HelloUDPNonblockingServer.java
!/java-solutions/info/kgeorgiy/ja/barsukov/hello/AbstractHelloUDPClient.java
!/java-solutions/info/kgeorgiy/ja/barsukov/hello/AbstractHelloUDPServer.java

/java-solutions/info/kgeorgiy/ja/barsukov/text/*
!/java-solutions/info/kgeorgiy/ja/barsukov/text/StatisticResourceBundle_en_US.java
!/java-solutions/info/kgeorgiy/ja/barsukov/text/StatisticResourceBundle_ru_RU.java
!/java-solutions/info/kgeorgiy/ja/barsukov/text/TextStatistics.java
!/java-solutions/info/kgeorgiy/ja/barsukov/text/StatisticTests.java

#/java-solutions/info/kgeorgiy/ja/barsukov/rmi/*

